.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .content-container {
    background-color: #0d3910;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    position: relative;

    .get-in-touch {
      @media (max-width: 768px) {
        padding-right: 10px;
      }
    }

    @media (max-width: 768px) {
      padding-top: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
      justify-content: center;
    }

    h2 {
      @apply text-base md:text-xl;
      margin-bottom: 10px;
    }

    span,
    p {
      @apply text-sm md:text-base;
    }

    .media-icons {
      @media (min-width: 768px) {
        display: flex;
      }

      a {
        display: flex;
        align-items: center;
        margin-right: 40px;

        @media (max-width: 768px) {
          padding-bottom: 5px;
        }
      }

      span {
        margin-left: 10px;
      }
    }
  }
}
