.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: end;

  .content-container {
    background-color: #0d3910;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    position: relative;

    h2 {
      @apply text-base md:text-xl;
      margin-bottom: 10px;
    }

    .media-icons {
      display: flex;

      a {
        display: flex;
        align-items: center;
        margin-right: 40px;
      }

      span {
        margin-left: 10px;
      }
    }
  }
}
